<%- cdate = Time.now.strftime("%m/%d/%Y") %>
<%= "Current date is #{cdate}" %>

<table border="1">
<tr>
<th>Person</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Sunday</th>
</tr>
<%- @persons.each do |person| %>
<tr>
<td><%= person %></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<%- end %>
</table> 
